
<div class="row">
  <div class="container">

    <div class="col-xs-3"></div>

    <div class="col-xs-6">
      <div class="form-group">
      <%= form_with model:@item, local:true do |f| %>
      <div class="edit-image">
        <%= f.file_field :image, class: 'img_field', style: 'display:none;' %>
        <%= attachment_image_tag @item, :image, fallback: 'no_image.png', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev edit-image' %>
      </div>
      <%= f.text_field :title, class: "form-control input-lg", placeholder: "titleを入力して下さい" %>
      <%= f.text_area :opinion, class: "form-control input-lg", placeholder: "opinionを入力して下さい" %>
      <%= f.select :genre, [["イラスト", "イラスト"], ["小説", "小説"], ["写真", "写真"], ["手芸", "手芸"], ["その他", "その他"]], include_blank: "選択して下さい" %>
      <%= f.submit "変更を保存", class: "btn btn-default center-block form-btn btn-lg" %>
      <% end %>
      </div>
    </div>

    <div class="col-xs-3"></div>

  </div>
</div>
